@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicando o mesmo fundo do footer ao body */
body {
  background-color: #111827; /* Mesma cor do Footer (bg-gray-900) */
  color: #ffffff;
  font-family: 'Lato', sans-serif; /* Fonte utilizada no Footer */
  @apply transition-colors duration-500;
}
